@using GrandLineQuotes.Client.Abstractions.DTOs.Arcs.Enums
@model Admin.Models.Arcs.Forms.ArcViewModel
<div class="modal-header">
    <h5 class="modal-title">@((Model.Id == 0) ? "Create Arc" : "Edit Arc")</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form id="arcForm">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="mb-3">
            <label class="form-label">Titles</label>
            @await Html.PartialAsync("~/Views/Quotes/Forms/_LanguageInput.cshtml", ("Titles","Título", Model.Titles.ContainsKey("es") ? Model.Titles["es"] : "", "es", "es"))
            @await Html.PartialAsync("~/Views/Quotes/Forms/_LanguageInput.cshtml", ("Titles","Title", Model.Titles.ContainsKey("en") ? Model.Titles["en"] : "", "en", "us"))
        </div>
        <div class="mb-3">
            <label class="form-label">Filler Type</label>
            <select class="form-select" name="FillerType">
                @foreach (var ft in Model.FillerTypes)
                {
                    <option value="@((int)ft)" selected="@(ft == Model.FillerType ? "selected" : null)">@ft.GetDisplayName()</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Saga</label>
            <select class="form-select" name="SagaId">
                @foreach (var saga in Model.Sagas)
                {
                    var title = saga.Titles.ContainsKey(System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName) ? saga.Titles[System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName] : string.Empty;
                    <option value="@saga.Id" selected="@(saga.Id == Model.SagaId ? "selected" : null)">@title</option>
                }
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="submitArc()">Save</button>
</div>
